.flaticon-a:before {
	content: "\61";
}
.flaticon-b:before {
	content: "\62";
}
.flaticon-c:before {
	content: "\63";
}
.flaticon-d:before {
	content: "\64";
}
.flaticon-e:before {
	content: "\65";
}
.flaticon-f:before {
	content: "\66";
}
.flaticon-g:before {
	content: "\67";
}
.flaticon-h:before {
	content: "\68";
}
